<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>銀行振込確認画面</title>
</head>
<body>
<h1>銀行振込確認画面</h1>
<form action="#" th:action="@{/bankTransferCompletion}" th:object="${bankTransferApplication}" method="post">
    <p>金融機関名: <span th:text="*{bankName}"></span></p>
    <p>支店名: <span th:text="*{branchName}"></span></p>
    <p>科目名: <span th:text="*{bankAccountType}"></span></p>
    <p>口座番号: <span th:text="*{bankAccountNum}"></span></p>

    <p>口座名義: <span th:text="*{name}"></span></p>
    <p>金額: <span th:text="*{money}"></span></p>
    <p>振込指定日: <span th:text="*{transferDateTime}"></span></p>

    <input type="hidden" name="bankName" th:value="*{bankName}"/>
    <input type="hidden" name="branchName" th:value="*{branchName}"/>
    <input type="hidden" name="bankAccountType" th:value="*{bankAccountType}"/>
    <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>

    <input type="hidden" name="branchName" th:value="*{name}"/>
    <input type="hidden" name="bankAccountType" th:value="*{money}"/>
    <input type="hidden" name="bankAccountNum" th:value="*{transferDateTime}"/>


    <p>
        <input type="submit" id="submit" value="振込"/>
        <input type="button" value="キャンセル" onclick="window.location='/bankTransfer';"/>
    </p>
</form>
<script th:inline="javascript" src="/js/bankTransferConfirmation.js"></script>
</body>
</html>