<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>確認画面</title>
</head>

<h1><b>最終確認</b></h1>

    <body>
            <p>金融機関名: <span th:text="*{bankCode}"></span></p>
            <p>支店名: <span th:text="*{branchCode}"></span></p>
            <p>科目名: <span th:text="*{accountType}"></span></p>
            <p>口座番号: <span th:text="*{bankAccountNum}"></span></p>
            <p>購入者名（姓）: <span th:text="*{lastName}"></span></p>
            <p>購入者名（名）: <span th:text="*{firstName}"></span></p>
            <p>銘柄選択: <span th:text="*{fundCode}"></span></p>
        <div th:if="*{purchaseAmount != null && purchaseAmount != ''}">
            <p>購入金額（自由入力）:<span th:text="*{purchaseAmount}"></span></p>
        </div>

            <div th:unless="*{purchaseAmount != null && purchaseAmount != ''}" th:if="*{amount != null && amount != ''}">
                <p>購入金額（選択肢）: <span th:text="*{amount}"></span> 円</p>
            </div>
    </body>

</html>